<!DOCTYPE html>
<html>
  <head>
    <title>The Fresh Prince of Adjective Noun</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>A Day in Nounadelphia</h1>
    <p>My @Model.Noun1 got flipped-turned upside down</p>
    <p>And I'd like to take a @Model.Noun2</p>
    <p>I'll tell you how I became the prince of a town called @Model.Adjective1 @Model.Noun3</p>
    <p><p>
    <p>In west @Model.Noun4-adelphia born and raised</p>
    <p>On the @Model.Noun5 was where I @Model.PastVerb most of my days</p>
    <p>Chillin' out maxin' relaxin' all @Model.Adjective2</p>
    <p>And all shootin some b-ball outside of the @Model.Noun6/p>
    <p>Started @Model.IngVerb trouble in my @Model.Noun7</p>
    <p>I got in one @Model.Adjective3 fight and my @Model.Noun8 got scared</p>
    <p>She said 'You're movin' with your auntie and uncle in @Model.Adjective1 @Model.Noun3'</p>
    </body>
</html>













