<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Welcome to MadLibs!</h1>
    <p>Once upon a time a @Model.Noun1 was feeling @Model.Adjective1..</p>
    <p>Then a @Model.Noun2 appeared, and it was very @Model.Adjective2.</p>
    <p>The @Model.Noun1 and the @Model.Noun2 then decided to @Model.Verb1 quite @Model.Adverb.</p>
    <p>They got tired from that and so decided to @Model.Verb2 instead.</p>
    </body>
</html>